<br><br><br><br><br>
<mat-card>
    <mat-action-list mode="side" opened="true">
        <div mat-subheader >Menu</div>
        <button routerLink="/admin" mat-list-item>
            <mat-icon mat-list-icon>home</mat-icon>Home
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>account_circle</mat-icon>Profile
        </button>
        <button mat-list-item routerLink="/admin/departments">
            <mat-icon mat-list-icon>health_and_safety</mat-icon>Departments
        </button>
        <button mat-list-item routerLink="/admin/add-department">
            <mat-icon mat-list-icon>category</mat-icon>Add Department
        </button>
        <button mat-list-item routerLink="/admin/opdSchedule">
            <mat-icon mat-list-icon>category</mat-icon>OPD_Schedule
        </button>
        <button mat-list-item routerLink="/admin/add-opdSchedule">
            <mat-icon mat-list-icon>category</mat-icon>Add OPD Schedule
        </button>
    </mat-action-list>
</mat-card>