
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <br><br><br>
    <div class="jumbotron" *ngFor="let o of opdSchedule ">
        <h1 class="display-4">OPD ID:{{o.sId}}</h1>
        <p class="lead">OPD NAME:{{o.opdName}}</p>
        <p class="lead">CONSULTANT NAME:{{o.consultantName}}</p>
        <p class="lead">OPD DAYS:{{o.opdDays}}</p>
        <hr class="my-4">
        <p>OPD LOCATION:{{o.location}}</p>
        <p>OPD TIMINGS:{{o.opdRegistrationTimings}}</p>
        <button [routerLink]="'/admin/opdSchedule/'+ o.sId" type="submit" class="btn btn-warning">Update OPD Schedule</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-info" (click)="deleteOpdSchedule(o.sId)">Delete OPD Schedule</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button [routerLink]="'/admin/view-doctors/'+o.sId+'/'+o.opdName"
        type="submit" class="btn btn-primary">Doctors</button>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
